@model JobOffer
@{
    ViewData["Title"] = "Details";
}
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
<script src="@Url.Content("~/js/offers-details.js")"></script>
<div class="row page-box">
    <h1>@Model.JobTitle</h1>
    <div class="col-sm-8">
        <div class="offer-description" id="previewMarkdown">
            <span class="span-offer-descitpion">@Model.Description</span>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="offer-details">
            <span id="offer-id" hidden="hidden">@Model.ID</span>
            <div>
                <label>Company:</label>
                <span id="company">@Model.Company.Name</span>
            </div>
            <div>
                <label>Location:</label>
                <span id="location">@Model.Location</span>
            </div>
            @if (Model.SalaryFrom.HasValue)
            {
                <div>
                    <label>Salary from:</label>
                    <span id="salaryFrom">@Model.SalaryFrom (PLN)</span>
                </div>
            }
            @if (Model.SalaryTo.HasValue)
            {
                <div>
                    <label>Salary to:</label>
                    <span id="salaryTo">@Model.SalaryTo</span>
                </div>
            }
            <div>
                <label>Created:</label>
                <span id="created">@Model.Created.Date.ToShortDateString()</span>
            </div>
            @if (Model.ValidUntil.HasValue)
            {
                <div>
                    <label>Valid:</label>
                    <span id="valid">@Model.ValidUntil.Value.Subtract(DateTime.Now).Days days (@Model.ValidUntil.Value.Date.ToShortDateString())</span>
                </div>
            }
            <div>
                @Html.ActionLink("Apply now", "Create", "Apply", new { id = Model.ID }, new { @class = "btn btn-primary" })
                @if ((await AuthorizationService.AuthorizeAsync(User, "Admin")).Succeeded)
                {

                    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                    
                    using (Html.BeginForm("Delete", "JobOffer", new { Model.ID }, FormMethod.Post, null, new { style = "display:inline;" }))
                    {
                        @*@Html.AntiForgeryToken()*@
                        <button type="submit" class="btn btn-danger">Delete</button>
                    }
                }
            </div>
        </div>
    </div>
    @Html.ActionLink("Go back to Job Offers", "Index", "JobOffer", null, new { @class = "btn btn-primary" })
</div>

<div class="row">
    <div class="col-sm-8 job-applications">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody id="applications"></tbody>
        </table>
    </div>
</div>